:root {
    --dark_brown: rgb(90, 56, 6);
    --light_brown: #fff3e6
    /* --white: #ffffff; */
  }

body {
    color: var(--dark_brown);
    width: 100%;
    
}

.content {
    background-color: bisque;
    width: 300px;
    margin: auto;
    padding: 0.1vw 3vw 3vw 3vw;
}

p{
    margin:0;
}

.welcome {
    text-align: center;
}
.input {
    width: 100%;
    margin: auto;
}

.mandatory_notice, .error_message {
    font-size: small;
}

.server_error_message {
    color:red;
}

.server_success_message{
    color:green;
}

.container_for_old_messages{
    border:var(--dark_brown) 1px solid;
    margin-top: 1vw;    
}

.container_for_one_old_message{
    padding:0.4vw 0.2vw 0.4vw 0.2vw;
}

.container_for_one_old_message:nth-child(even) {background-color: var(--light_brown);}

.name_and_year_container{
    display: flex;
}

.message_container_name{
    padding:0.4vw 0.4vw 0.4vw 0.4vw;
    font-weight: bold;
}

